<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Your default webpack index template</title>
  </head>
  <body>
      <h1>Your default webpack index template</h1>
      <my-app></my-app>
  </body>
</html>